[submodule "runtime/third-party/FFmpeg"]
	path = runtime/third-party/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "runtime/third-party/nv-codec-headers"]
	path = runtime/third-party/nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers
[submodule "runtime/third-party/x264"]
	path = runtime/third-party/x264
	url = https://github.com/mirror/x264
	branch = stable
